/* Footer Páginas */
.footer{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(182,6,6,1) 41%, rgba(101,2,2,1) 100%);
}
  
.footer-center_caja{
    p{
    font-size: 17px;
    }
    h5{
        font-size: 18px;
    }
    a{
        font-size: 17px;
        color: white;
        text-decoration: none;
    }
}

.footer-contacto{
   margin-top: 100px;
}
  


  
  