*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    h1{
        color: red; 
        align-items: center;
        margin-top: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
}