@media screen and (min-width:320px) and (max-width:549px)  {
  header{
    flex-direction: column;
  }
  footer{
    width: 100%;
  }
  .footer .container .footer-center_caja p {
    font-size: 13px;
  }
  .footer .container .footer-center_caja a {
    color: white;
    text-decoration: none;
    font-size: 13px;
  }

}