@media screen and (max-width: 549px) and (min-width: 320px) {
  /* Header */
  header{
    flex-direction: column;
  }
  .navbar{
    padding: 10px;
  }
  /* Footer */
  footer{
    width: 100%;
  }
  .footer .container .footer-center_caja .textofooter, h5 {
    font-size: 11px;
  }
  .footer .container .footer-center_caja a {
    font-size: 11px;
  }
  /* Inicio */
  /* Acerca de Nosotros */
  /* Materiales Const. & Seguridad Ind. */
  /* Contáctenos */
  .containergeneral .container-form{
    margin: 10px;
  }
  .container-form p {
    font-size: 1px;
  }
  .containergeneral .container-form .info-form a {
    font-size: 8px;
  }
  .containergeneral .container-form form textarea {
    width: 95%;
    font-size: 8px;
  }
  .containergeneral .container-form form .campo {
    width: 95%;
    font-size: 8px;
  }
  .containergeneral .container-form .btn-enviar{
    font-size: 10px;
  }

}
